# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Django stuff
*.sqlite3
*.log
*.pot
*.pyc
*.mo

# Node
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store